<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome, <%= locals.name %></title>
</head>
<body>
    <h1>Hello <%= locals.name %>, Welcome to TO-DOs</h1><br><br>
    <h3>Total number of TO-DOs : <%= locals.len %></h3>
</body>
</html>